.login {
  background-color: #735AFD;
  // background-image: url(../../image/bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 100vh;
  padding: 96px;
  padding-top: 40px;
  box-sizing: border-box;

  .h1 {
    font-size: 48px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 72px;
    display: block;
    text-align: center;
  }

  .p {
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 48px;
    display: block;
    text-align: center;
  }

  //   选择星座盒子
  .xz_box {
    .every_3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 94px;

      .every_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .xz_img {
          width: 144px;
          height: 144px;
        }

        .xz_text {
            width: 112px;
            margin-top: 34px;
            height: 40px;
            background: #2C218E;
            border-radius: 100px 100px 100px 100px;
            opacity: 1;
            font-size: 24px;
            color: #FFFFFF;
            font-weight: 500;
            text-align: center;
            line-height: 40px;
        }
      }

    }

  }


}
