.luckey {
  background-color: #735AFD;
  // background-image: url(../../image/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  padding: 96px;
  box-sizing: border-box;


}
